#add-song-btn{
    padding: 4px 8px;
    font-size: 20x;
    color: white;
}

#add-song-btn a {
    color: inherit; 
}

#restricted-btn{
    padding: 4px 8px;
    font-size: 20px;
    color: white;
}

#restricted-btn a {
    color: inherit; 
}

.button-pad{
    padding:10px 0px;
}

.artist-name {
    opacity: 0.2;
    color:aqua;
}
.comment-form .form-group {
    margin-bottom: 20px;
}

.comment-form label {
    font-weight: bold;
    color: #333;
}

.comment-form .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.comment-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.like-info .thumbs-up-icon {
    color: black; /* Change the color of the thumbs-up icon to black */
    margin-right: 5px; /* Adjust margin if needed */
}

.like-info {
    color: black; /* Change the color of the likes count to black */
}


