{% extends 'MVapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if genre %}
        {{ genre.name }}
    {% else %}
        Unknown Genre
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if genre %}
    <div class="jumbotron p-4">
        <div class ="containter">
            <h1 class = "jumbotron-heading">{{ genre.name }}</h1>
        </div>
    </div>
    {% if songs %}
    <ul>
        {% for song in songs %}
        <li><a href="{% url 'MVapp:show_song' song.slug %}">{{ song.title }}</a></li>
        <iframe width="560" height="315" src="{{ song.url }}" referrerpolicy="no-referrer-when-downgrade" frameborder="0" allowfullscreen></iframe>
        {% endfor %}
    </ul>
    {% else %}
    <div class="jumbotron p-4">
        <div class ="containter">
        <strong>No songs currently in genre.</strong>
        </div>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
        {% if not user.userprofile.isArtist %}
        <a href="{% url 'MVapp:add_song' genre.slug %}">Add Song</a> <br/>
        {% endif %}
    {% endif %}
    {% else %}
    The specified genre does not exist.
    {% endif %}
{% endblock %}