{% extends 'MVapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if genre %}
        {{ genre.name }}
    {% else %}
        Unknown Genre
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if genre %}
    <div class="jumbotron p-4">
        <div class ="containter">
            <h1 class = "jumbotron-heading">{{ genre.name }}</h1>
        </div>
    </div>
    {% if user.is_authenticated %}
        {% if user.userprofile.isArtist %}
        <div class ="button-pad">
            <button class="btn btn-primary" id="add-song-btn">
            <a href="{% url 'MVapp:add_song' genre.slug %}">Add Song</a> <br/>
            </button>
        </div>
        {% else %}
        <div class ="button-pad">
            <button class="btn btn-primary" id="restricted-btn">
                <a href="{% url 'MVapp:profile' user.username %}">Create Artist Account to add song <span data-feather="edit"></span></a>
            </button>
        </div>
        {% endif %}
    {% endif %}
    {% if songs %}
    <ul class = "list-group">
        {% for song in songs %}
        <div>
        <li class = "list-group-item">
            <a href="{% url 'MVapp:show_song' song.slug %}">{{ song.title }} <span class="text-muted">- by {{ song.artist }}</span> </a>
            {% if song.views %}
            <span data-feather="eye"></span>  {{ song.views }}
            {% endif %}
        </li>
        <iframe width="280" height="157.5" src="{{ song.url }}" referrerpolicy="no-referrer-when-downgrade" frameborder="0" allowfullscreen></iframe>
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <div class="jumbotron p-4">
        <div class ="containter">
        <strong>No songs currently in genre.</strong>
        </div>
    </div>
    {% endif %}
    {% else %}
    The specified genre does not exist.
    {% endif %}
{% endblock %}