<ul class ="nav flex-column">
    {% if genres %}
        {% for g in genres %}
            {% if g == current_genre %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'MVapp:show_genre' g.slug %}"><span data-feather="disc"></span>{{ g.name }}</a>
            </li>
            {% else %}
            <li class ="nav-item">
                <a class="nav-link " href="{% url 'MVapp:show_genre' g.slug %}"><span data-feather="disc"></span>{{ g.name }}</a>
            </li>  
            {% endif %}
        {% endfor %}
    {% else %}
        <li class="nav-item">There are no genres present.</li>
    {% endif %}
</ul>