{% extends 'MVapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class ="containter">
        <h1 class = "jumbotron-heading">The movie app says...</h1>
        <div>
           <h2 class ="h2">
            {% if user.is_authenticated %}
                Hi there {{ user.username }}
             {% else %}
                Hello!
             {% endif %}
        </h2>
        </div>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <div class = "col mb-6">
            <div class = "card mb-6">
                <div class = "card-body">
                    <h2>Most Liked Genres</h2>
                
                    <p class ="card-text">
                    {% if genres %}
                    <ul class="list-group">
                    {% for genre in genres %}
                    <li class="list-group-item">
                        <a href="{% url 'MVapp:show_genre' genre.slug %}">{{ genre.name }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no Genres present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class = "col-md-6">
            <div class="card mb-6">
                <div class = "card-body">
                    <h2>Most Viewed Songs</h2>
                    <p class = "card-text">
                    {% if songs %}
                    <ul class="list-group">
                    {% for song in songs %}
                        <li class="list-group-item">
                            <a href="{% url 'MVapp:show_song' song.slug %}">{{ song.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no pages present.</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}