{% extends 'MVapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if song %}
        {{ song.title }} 
    {% else %}
        Unknown Genre
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if song %}
    <div class = "jumbotron p-4">
        <div class = "containeer">
            <h1 class ="jumbotron-heading">{{ song.title }}</h1>
            <h3>by {{ song.artist }}</h3>
            Views: {{ song.views }} <br />
            Likes: {{ song.likes }}
        </div>
    </div>
    {% if song.isExplicit and not user.userprofile.isMature %}
    <div class="container alert alert-danger mt-4">
        Sorry, this song contains explicit content and cannot be viewed because your account settings 
        indicate that you do not want to see explicit content. <br />
         You can update your preferences in your
        profile settings if you wish to change this.
    </div>
    {% else %}      
    <iframe width="560" height="315" src="{{ song.url }}" referrerpolicy="no-referrer-when-downgrade" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    {% endif %}

{% endblock %}